name: Deploy to Prod

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - uses: oven-sh/setup-bun@v1

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Build with sourcemaps
              run: bun build --sourcemap=external ./src/index.ts --outfile ./dist/index.js

            - name: Upload sourcemaps to Sentry
              env:
                  SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
                  SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
                  SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
              run: |
                  npx @sentry/cli sourcemaps inject ./dist
                  npx @sentry/cli sourcemaps upload --release=${{ github.sha }} ./dist

            - name: Install cloudflared
              run: ./.github/scripts/install-cloudflared.sh

            - name: Load SSH Key
              uses: shimataro/ssh-key-action@v2
              with:
                  key: ${{ secrets.VPS_SSH_PRIVATE_KEY }}
                  known_hosts: ${{ secrets.VPS_SSH_KNOWN_HOSTS }}

            - name: Deploy API
              env:
                  TUNNEL_SERVICE_TOKEN_ID: ${{ secrets.CF_GHA_CLIENT_ID }}
                  TUNNEL_SERVICE_TOKEN_SECRET: ${{ secrets.CF_GHA_CLIENT_SECRET }}
              run: |
                  ssh -o ProxyCommand="cloudflared access ssh --hostname %h" root@ssh.raidhub.io \
                  "SENTRY_RELEASE=${{ github.sha }} /RaidHub/API-env/deploy.sh main api"
